&spi0 {
    status = "okay";

    trackball_central: trackball@1 {
        status = "okay";
        compatible = "pixart,paw3222";
        reg = <0>;
        spi-max-frequency = <2000000>;
        irq-gpios = <&xiao_d 6 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
    };
};

&peripheral_listener {
    status = "okay";
};

&central_listener {
    status = "okay";
    device = <&trackball_central>;

    /* ポインタ操作はデフォルトのまま */

    scroller {
        /* レイヤー2でのみスクロール */
        layers = <2>;

        input-processors =
            /* XY → スクロール */
            <&zip_xy_to_scroll_mapper>,

            /*
             * スクロール調整
             * X: 0.5倍（横を弱める）
             * Y: -0.5倍（上下反転 + 感度低下）
             */
            <&zip_scroll_scaler (1/2) (-1/2)>;
    };
};
